:root {
	--bright-blue: hsl(220, 98%, 61%);
	--check-bg: linear-gradient (hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	// dark theme
	--dark-blue: hsl(235, 21%, 11%);
	--dark-desaturated-blue: hsl(235, 24%, 19%);
	--grayish-blue: hsl(234, 39%, 85%);
	--grayish-blue-hover: hsl(236, 33%, 92%);
	--dark-grayish-blue: hsl(234, 11%, 52%);
	--very-dark-grayish-blue: hsl(233, 14%, 35%);
	--very-dark-grayish-blue-secondary: hsl(237, 14%, 26%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

ul {
	list-style: none;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

body {
	font-size: 18px;
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	background-color: var(--dark-blue);
}

button {
	border: none;
	background: transparent;
	color: var(--grayish-blue);
	cursor: pointer;
	transition: color 300ms;
}

button:hover {
	color: #fff;
}

.completed {
	text-decoration: line-through;
}

.container {
	margin: 0 auto;
	max-width: 90%;
}

.todo-container {
	border-radius: 5px;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 10px;
}

.add-new {
	background-color: var(--dark-desaturated-blue);
	border-radius: 5px;
	margin: 1rem 0;
	padding: 1rem;
	padding-left: 2rem;
	color: var(--grayish-blue);
	input {
		color: #fff;
		background-color: inherit;
		width: 100%;
		border: 0;
	}
}

.todo-list {
	background-color: var(--dark-desaturated-blue);
}
